/* ====================================
// css variables
// ==================================== */

:root {
}

/* 
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
} 

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: #f7f7f7;
}

a {
  color: inherit;
}

img,
video {
  width: 100%;
  block-size: auto;
  vertical-align: middle;
}

header {
  background-color: #fff;
  padding: 10px 15px;
  margin: 0 0 20px;
}

h1 {
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 60px;
  font-weight: 400;
}

.card {
  background-color: #fff;
  padding: 0 0 30px;
  margin: 0 0 20px;
}

.card-article {
  text-align: center;
  padding: 0 0 30px;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 10px 50px;
}

.card-article em {
  color: #b3b3b3;
  font-style: normal;
}

.title-reviews {
  background-color: #eee;
  height: 50px;
  display: flex;
  align-items: center;
}

h3 {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin: 25px 10px 50px;
}

h3 em {
  font-style: normal;
  font-weight: 400;
}

h4 {
  font-family: "Heebo", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 0 20px;
}

.author {
  font-family: "Heebo", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
}

main {
  margin-bottom: 50px;
}
